body {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
header {
  background-color: rgb(66, 63, 69);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
  gap: 1.1em;
  margin: 1.1em;
}

header a i {
  color: white;
  font-size: 3em;
  padding: 0.1em;
}

header nav ul li a {
  color: white;
}

a {
  text-decoration: none;
}

.seccion-1 {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  flex-direction: row-reverse;
}
.seccion-1 img {
  padding: 1em;
  width: 150px;
}
.seccion-2 img {
  width: 100%;
}

/*  aqui van los artiulos */

.container-cards {
  display: flex;
  justify-content: center;
}
.cards {
  width: 300px;
  margin: 4%;
}
.card-img img {
  width: 100%;
}

/*     aqui van el footer - contacto */

.redes-sociales {
  background-color: rgb(66, 63, 69);
  color: white;
  padding: 20px;
}
footer nav ul li {
  color: white;
  padding: 2px;
}
footer a i {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #ebcb00;
}

#check {
  display: none;
}
.checkbtn {
  font-size: 25px;
  color: rgb (165, 95, 95);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

/* Estilos para pantallas más pequeñas (hasta 768px) */
@media (max-width: 768px) {
  .encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .seccion-1 {
    display: flex;
    flex-direction: column-reverse;
  }
  .checkbtn {
    display: block;
  }

  #encabezado ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #2c3e50;
    text-align: center;

    top: 80px;
    left: 100%;
    transition: all 0.5s;
  }
  #check:checked ~ ul {
    left: 0%;
    display: block;
  }
  #encabezado nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  #encabezado nav ul li a {
    font-size: 20px;
  }
  .container-cards {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  /* Aquí puedes escribir los estilos que se aplicarán en pantallas más pequeñas */
}

/*  contacto */


 
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header {
  text-align: center;
  background-color: #f6f7f8;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  width: 80%;
  margin: 10px auto;
  padding: 50px;
}
.form-header h1 {
  font-size: 30px;
  margin-bottom: 20px;
}
/* formulario */

.formulario {
  background-color: #f6f7f8;
  border: 1px solid #d6d9dc;
  border-radius: 3px;

  width: 80%;
  padding: 50px;
  margin: 30px 0 40px 0;
}
/* ------------- Campos del Formulario ------------- */

.form-row {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input[type="text"],
.form-row input[type="email"] {
  background-color: #bdbdbd;
  border: 0;
  border-radius: 6px;
  width: 250px;;
  padding: 7px;
  font-size: 14px;
}

.form-row label {
  margin-bottom: 3px;
  text-align: initial;
}
/* ------------- Para Pantallas de más de 700px ------------- */
@media only screen and (min-width: 700px) {


  .form-header {
    padding: 50px;
    
  }

  .form-row {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .form-row input[type="text"] {
    width: 250px;
    height: initial;
  }
  .form-row label {
    text-align: right;
    width: 120px;
    margin-top: 7px;
    padding-right: 20px;
  }
}
.form-row textarea {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;

  background-color: #bdbdbd;
  border: 0;
  border-radius: 6px;

  min-height: 200px;
  margin-bottom: 10px;
  padding: 7px;
  resize: none;

  width: 100%;
}
/* ------------- Para Pantallas de más de 700px ------------- */

.form-row textarea {
  width: 250px;
}
.form-row button {
  font-size: 16px;
  font-weight: bold;

  color: #ffffff;
  background-color: #5995da;

  border: none;
  border-radius: 3px;

  padding: 10px 40px;
  cursor: pointer;
}

.form-row button:hover {
  background-color: #76aeed;
}

.form-row button:active {
  background-color: #407fc7;
}

/* ------------- Para Pantallas de más de 700px ------------- */

.form-row button {
  margin-left: 120px;
}


.footer-redessociales{
  background-color: rgb(66, 63, 69);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 10px;
  color: white;

}

.footer-redessociales h1{
  display: flex;
  justify-content: center;

  text-align: center;
}


.footer-redessociales nav ul {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  

 
}



.footer-redessociales nav ul li{
  
  display: block;
  margin: 10px 0;
 

 
}